<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256">
<title>Home StoreOwner</title>
<link href="homee.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Welcom to Store owner page</h1>
<div id="content">
<div class="login_box">

<p><b class="yellow"><br>Home page</b></p>
<ul id="nav_list">
<li class="li_nav_body"><a href="http://localhost:8080/addProduct">Add Product</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/addStore">Add Store</a></li>	
<li class="li_nav_body"><a href="http://localhost:8080/home">Home</a></li>	
<li class="li_nav_body"><a href="http://localhost:8080/buy">Buy</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/ShowActionOfProduct">ShowActions</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/EditProduct">EditProduct</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/DeleteProduct">DeleteProduct</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/addOffer">addOffer</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/editOffer">editOffer</a></li>
<li class="li_nav_body"><a href="http://localhost:8080/deleteOffer">deleteffer</a></li>

</ul>


<div class="clear"></div>

</div>
</div>


</body>
</html>